---
import Layout from '../layouts/base.astro';
import Row from '../components/row.astro';
import data from '../json/data.json';
---

<Layout>
    <a href="/" class="header">
        <img src="/logo.svg" alt="Logo" height="150" class="logo" />
    </a>
    <div class="container">
        {
            data.map((item, index) => (
                <Row style={item.type == "color" ? `background-color: ${item.color[0]}` : `background-image: url(/img/${item.image}.png);`} url={item.url}>
                    <span style={item.type == "color" ? `color: ${item.color[1]} !important;` : "color: #fff !important;"} set:html={item.url == "/" ? `<span style="line-height:${data.length / 2};">&nbsp;</span>${item.title}<br><br>` : item.title}></span>
                    <p style={item.type == "color" ? `color: ${item.color[1]} !important;` : "color: #fff !important;"}>{item.subtitle}</p>
                </Row>
            ))
        }
    </div>
</Layout>